* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

.container h1 {
    width: fit-content;
    color: blue;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    top: 25%;
    left: 40%;
}

.converterBox {
    display: flex;
    width: 400px;
    align-items: center;
    background: rgb(138, 242, 138);
    border-radius: 10px;
    padding: 50px 20px;
    position: relative;
    top: 30%;
    left:35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    flex-basis: 32%;
    text-align: center;
    color: #171010;
}

.col input{
    margin-top: 10px;
}

.col input {
    width: 150px;
    height: 30px;
    background: white;
    border-radius: 5px;
    text-align: center;
}
